body{
font-family:Tahoma;
font-size: 15px;
}
#container{
height:400px;
width:400px;
border:1px solid black;
float:left;
}

#messages{
height:300px;
border-bottom:1px solid black;
overflow: auto;
margin:auto;
}


#onlinecont{
width:400px;
height:auto;
overflow:auto;
border:1px solid black;
float: right;
}

#footer{
bottom:0;
width:99%;
color:white;
background:black;
position:absolute;
}